<%- include('partials/header.ejs'); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul style="list-style: none; margin: 0; padding: 0;">
        <li><a href="/example">(Examples) GET/POST/PUT/DELETE</a></li>
        <li><a href="/restful">(Breakdown) RESTful</a></li>
        <li><a href="/status-codes">(Breakdown) HTTP Status Codes</a></li>
        <li><a href="/countries" class="giant">Explore the API [Countries]</a></li>
    </ul>

<%- include('partials/footer.ejs'); %>
